build.xml
nbproject/
MANIFEST.MF

.classpath
.project
.settings/
target/

application.properties

# Created by https://www.gitignore.io

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
.idea/
*.iml
stacktrace.log
grails-app/conf/duga.groovy
